{% extends "base.html" %}
{% load static %}

{% block main_content %}
<br/>
<br/>
<div class="page-header header-filter"
     style="background-image: url('{% static "
     search/assets/img/bg7.jpg" %}'); background-size: cover; background-position: top center;">
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login">

                <form class="form" action="" method="post">
                    {% csrf_token %}
                    <table>

                        {{ form.as_table }}

                    </table>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}